#review__button{
    visibility: hidden;
}

.ticket {
    padding: 0 1rem 1rem 1rem;
}

.ticket > div:first-of-type{
    border : 1pt black solid;
    max-width : 80%;
    margin : 1rem auto auto auto;
}

form {
    display: block;
    padding : 1rem;
}

.control-group {
    display: block;
    padding : 0.5rem;
} 

.control-label {
    padding-bottom: 0.5rem;
}

.button__field {
    float: left;
}
