#review__button{
    visibility: hidden;
}

.ticket {
    padding: 0 1rem 1rem 1rem;
}

.ticket > div:first-of-type{
    border : 1pt black solid;
    max-width : 80%;
    margin : 1rem auto auto auto;
}

form {
    display: block;
    padding : 0rem 1rem 1rem 1rem;
}

.control-group{
    margin:1rem;
}

label {
    margin-bottom: 10px;
}

.radio {
    margin-right: 1rem;
}

.button__field {
    display: grid;
    justify-items: right;
}

#id_body {
    height : 5rem;
    width : 60%;
}
