.asteriskField {
    visibility: hidden;
}

.ticket {
    min-height: 450px;    
}

.button__field input{
    display: block;
    margin-left: auto;
    margin-top: 1rem;
}

p {
    font-size: 1.5rem;
}

#id_headline, #id_body{
    width: 100%;
}

#div_id_rating div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
