
{% extends "website/main.html" %}

{% block title %}
    Welcome {{user}}
{% endblock %}

{% block content %}
    <div class="feed__button">
        <button id="feed__ticket" type="button">Demander une critique</button>
        <button id="feed__review" type="button">Créer une critique</button>
    </div>
    <div class="feed__block">
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                <div class="ticket__block">{% include 'website/ticket_snippet.html' with post=post user=user %}</div>
            {% elif post.content_type == 'REVIEW' %}
                <div class="review__block">{% include 'website/review_snippet.html' with post=post user=user %}</div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}