{% load static %}

{% if user.is_authenticated %}
    {% url 'feed' as feed_url %}
    {% url 'posts' username=user.username as post_url %}
    {% url 'subscription' username=user.username as sub_url %}
{% else %}
    {% url 'login' as feed_url %}
    {% url 'login' as post_url %}
    {% url 'login' as sub_url %}
{% endif %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Payssan Jonathan">
        <title>
            {% block title %}{{name}}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'website/styles.css' %}" type="text/css" />
        {% block extrahead %}{% endblock %}
    </head>

    <body>
        <nav>
            <ul class="nav__bar__block">
                <li><a href={{ feed_url }}>LITReview</a></li>
                <li><a href={{ feed_url }}>Flux</a></li>
                <li><a href={{ post_url }}>Posts</a></li>
                <li><a href={{ sub_url }}>Abonnements</a></li>
                <li>{% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Déconnecter {{user.username}}</a></li>
                    {% else %}
                        <a href="{% url 'login' %}">Se connecter</a></li>
            </ul>   {% endif %}
        </nav>
        {% block content %} {% endblock %}
    </body>

    <footer>
        {% block extrafooter %}{% endblock %}
    </footer>
</html>