{% load static %}

<div class="review__header">
    <div class="review__user">
        {% if post.user == user %}
            Vous avez
        {% else %}
            {{post.user}} a
        {% endif %}
        publié une review
    </div>
    <div class="review__time">{{post.time_created|date:'H:i, d F Y' }}</div> 
</div>
<div class="review__content">
    <div class="review__headline">{{post.headline}}</div>
    <div class="review__rating">
        <div class="review__rating text">Note : {{post.rating}}/5</div>
        <img class="review__rating star" src="{% static 'website/icon_book_' %}{{ post.rating }}.png">
    </div>
    <div class="review__body">{{post.body}}</div>
    <div class="review__ticket">
        <div class="ticket__header">Ticket - {{post.ticket.user}}</div>
        <div class="ticket__title"> {{post.ticket.title}} </div>  
        <div class="ticket__picture">
            {% if post.ticket.image %}
                <img src="{{post.ticket.image.url}}" alt="image du livre">
            {% endif %}    
        </div>

        {% if not post.user_reviewed_ticket and main_feed %}
            <div class="ticket__review__button">
                <a href="{% url 'add_review' username=post.user %}?id={{post.id}}">
                    <button id="review__button" type="button" action=>Créer une critique</button>
                </a>
            </div>
        {% endif %}
    </div>

    {% if user_feed %}
            <div class="user__post__button">
                <a href="{% url 'add_review' post.user %}?id={{post.id}}">
                    <button id="change__button" type="button" action=>Modifier</button>
                </a>
                <a href=>
                    {% comment %} "{% url 'del_review' post.user %}?id={{post.id}}"> {% endcomment %}
                    <button id="delete__button" type="button" action=>Supprimer</button>
                </a>
            </div>
    {% endif %}
    
</div>     
