<div>
    <div class="ticket__header">
        <div class="ticket__user">
            {% if post.user == user %}
                Vous avez publié un ticket
            {% else %}
                {{post.user}} a demandé une critique
            {% endif %}
        </div>
        <div class="ticket__time">{{post.time_created|date:'H:i, d F Y'}}</div>
    </div>
    <div class="ticket__content">
        <div class="ticket__title"> {{post.title}} </div>
        <div class="ticket__description">{{post.description}}</div>
        <div class="ticket__picture">
            {% if post.image %}
                <img src="{{post.image.url}}" alt="image du livre">
            {% endif %}
        </div>

        {% if not post.user_reviewed_ticket and main_feed %}
            <div class="ticket__review__button">
                <a href="{% url 'add_review' post.user %}?ticket_id={{post.id}}">
                    <button id="review__button" type="button" action=>Créer une critique</button>
                </a>
            </div>
        {% endif %}

        {% if user_feed %}
            <div class="user__post__button">
                <a href="{% url 'update_ticket' post.user post.title %}?ticket_id={{post.id}}">
                    <button id="change__button" type="button" action=>Modifier</button></a>

                <a href="{% url 'delete_ticket' post.user post.title %}?ticket_id={{post.id}}">
                    <button id="delete__button" type="button" action=>Supprimer</button></a>
            </div>
        {% endif %}
    </div>
</div>