{% extends "website/main.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'creation/ticket_creation.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'creation/review_creation.css' %}" type="text/css" />
{% endblock %}

{% block title %}
    nouvelle critique
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <div class="ticket">
            <p>{{ticket_title}}</p>
            {% crispy ticket_form %}
        </div>

        <div class="review">
            <p>{{review_title}}</p>
            {% crispy review_form %}
        </div>

        <div class="button__field">
            <input type="submit" value='Envoyer' class="button">
        </div>
    </form>
{% endblock %}

{% block extrafooter %}
<script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("id_image").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };
</script>
{% endblock %}