body{
    display: grid;
    grid-template: "blank blank" 0.5fr "signup signin" 1fr / 1fr 1fr;
}

.nav__bar__block{
    visibility: hidden;
}

.title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

form {
    grid-area: signin;
    display: block;
    margin-left: 50%;
}

#login__button, .button {
    width: 300px;
}

input {
    transform: translate(-50%, 0%);
    width: 300px;
    padding: 0.3rem;
    margin: 0.5rem;
}

.help-block{
    color: red;
    margin: 0rem;
}

.login__signup {
    grid-area: signup;
    display: flex block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__signin__text {
    grid-area: signup;
    display: flex block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}