body{
    display: grid;
    grid-template: "nav nav" auto "login signup" 1fr / 1fr 1fr;
}

nav {
    grid-area : nav
}

form {
    grid-area: login;
    display: block;
    margin-left: 50%;
}

#login__button, .button {
    width: 300px;
}

input {
    transform: translate(-50%, 0%);
    width: 300px;
    padding: 0.3rem;
    margin: 0.5rem;
}

.help-block{
    color: red;
    margin: 0rem;
}

.login__signup {
    grid-area: signup;
    display: flex block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


