.nav__bar__block{
    visibility: hidden;
}

.signup__title {
    font-size: 1.5rem;
    text-align: center;
}

form {
    display: block;
    margin-left: 50%;
}

#signup__form input{
    transform: translate(-50%, 0%);
    width : 300px;
    padding: 0.3rem;
    margin: 0.5rem;
}

.help-block{
    color: red;
    margin: 0rem;
}

.signup__button{
    display:flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    row-gap: 0.3rem;
}

.signup__button button {
    margin: 0.3rem;
    width: auto;
    padding:0.5rem;
}
