{% extends "website/main.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'network/subscription.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <div class="search__box__form title">Suivre d'autres utilisateurs</div>
    {% crispy searchbox_form searchbox_form.helper %}
    
    <div class="subscription__form title">Abonnements</div>
    {% for followed_user in followed_users %}
        <div class='label__unfollow__{{forloop.counter}}'>{{followed_user}}</div>
        <a class='unfollow__link__{{forloop.counter}}', hlink="{% url 'network:unfollow' username=user.username %}?id={{followed_user.id}}">
            <button class='unfollow__button button'>Se désabonner</button>
        </a>
        {% endfor %} 
    
    <div class="followers__list title">Abonnés</div>
    {% for user in followers %}
        <div>{{ user }}</div>
    {% endfor %}

{% endblock %}
