{% extends "website/main.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'network/subscription.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <div class="search__box__form title">Suivre d'autres utilisateurs</div>
    {% crispy searchbox_form searchbox_form.helper %}
    
    <div class="subscription__form title">Abonnements</div>
    {% crispy subscrip_form %}
    
    <div class="followers__list title">Abonnés</div>
    {% for user in followers %}
        <div>{{ user }}</div>
    {% endfor %}

{% endblock %}
