.ticket, form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    justify-self: center;
}

.feed__block{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ticket__block{
    margin: 0.5rem 0rem 0.5rem 0rem;
    border: 1pt solid black;
}

.ticket__header, .review__header{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem 0rem 1rem; 
}

.ticket__content, .review__ticket{
    padding:1rem;
    display:grid;
    grid-template: "title title title" 2rem "picture descrip descrip" minmax(100px, max-content) "blank button button" auto / 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: fit-content;
    grid-auto-flow: dense;
}

.ticket__title{
    grid-area: title;
    font-size: larger;
    width: 100%; 
    color:red;
    padding: 1rem 0rem 1rem 0rem;
}

.ticket__picture, .review__picture{
    grid-area: picture;
    justify-self: center;
    align-self:  center;
}

.ticket__picture img{
    display:block;
    max-height: 200px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.ticket__description{
    align-self:flex-start;
    grid-area: descrip; 
}

.ticket__review__button{
    grid-area: button;
    align-self: center;
    justify-self: right;
    padding-right: 2rem;
    width: auto;
    height: auto;
}

.ticket__review__button button{
    width: fit-content;
    padding: 1rem;
} 

.review__block{
    margin: 0.5rem 0rem 0.5rem 0rem;
    border: 1pt solid black;
}

.review__content{
    display: grid;
    grid-template: "headline rating" auto "body body" auto "ticket ticket" auto / auto 1fr
} 

.review__headline, .text{
    grid-area: headline;
    font-size: larger;
    padding-left: 1rem;
}

.review__rating{
    grid-area: rating;
    display: flex;
    flex-direction: row;
    height: 1.5rem;
    justify-content: left;
    margin: 0 0.2rem;
}

.review__rating .text{
    font-size: large;
    justify-content: center;
}

.review__body{
    grid-area: body;
    padding-left: 1rem;
}

.review__content .review__ticket{
    grid-area: ticket;
    grid-template: "header header header" auto "title title title" auto "picture descrip descrip" auto "blank button button" auto / 1fr 1fr 1fr;
    border: 1pt black solid;
    margin: 1rem;
}

.review__ticket .ticket__header{
    grid-area: header;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.review__ticket .ticket__title{
    grid-area: title;
    justify-self: left;
}

.review__ticket .ticket__picture{
    grid-area: picture;
}

.review__ticket .ticket__review__button{
    align-self: center;
    justify-self: right;
    padding: 1.5rem;
}

.feed__button a {
    width : 20%;
}

button {
    width: 100%;
}