.nav__bar__block{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
}

.nav__bar__block li{
    margin: 10px;
}

.nav__bar__block:first-child{
    margin-left: 50%;
}

.feed__block{
    align-items: center;
}

.ticket__block{
    border: 1pt solid black;
}

.review__block{
    border: 1pt solid black
}