* { 
    font-size: 15px;
}
.nav__bar__block{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    list-style-type: none;
}

.nav__bar__block li{
    margin: 10px;
}

.nav__bar__block:first-child{
    flex-grow: 2;
    margin-left: 50%;
}

.feed__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    column-gap: 5rem;
    margin:1rem;
}

button, .button{
    height: 3rem;
    width: 20%;
    transition-duration: 0.4s;
    border-radius: 5px;
}

button:hover{
    background-color: black;
    color:white;
}