{% extends 'website/main.html' %}

{% load static %}

{% block title %}login{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'authentication/login.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <p>{{message}}</p>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit"> Se connecter</button>
    </form>
    <div class="login__signup__text">Pas encore membre ? </div>
    <button type="button">
        <a href="{% url 'signup' %}">Inscrivez-vous maintenant !</a>
    </button>
{% endblock content %}
