{% extends 'website/main.html' %}

{% load static %}

{% block title %}login{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'authentication/login.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <p>{{message}}</p>
    {% crispy form form.helper %}
    {% comment %} <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit"> Se connecter</button>
    </form> {% endcomment %}
    <div class="login__signup__text">Pas encore membre ? </div>
    <a href="{% url 'signup' %}">
            <button type:"button">Inscrivez-vous maintenant !</button>
    </a>
{% endblock content %}
