{% extends 'website/main.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}login{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'authentication/login.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <p>{{message}}</p>
    {% crispy form %}
    
    <div class="login__signup">
        <div class="login__signup__text">Pas encore membre ? </div>
        <a href="{% url 'signup' %}">
                <button type:"button">Inscrivez-vous maintenant !</button>
        </a>
    </div>
{% endblock content %}
