{% extends 'website/main.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Inscrivez Vous{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'authentication/signup.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <p class="signup__title">Inscrivez-vous</p>
    {% crispy form %}

    <div class="signup__button">
        <a href="{% url 'login'%}">
            <button class="button signup__return"
                    name="return__button"
                    type="submit"> Retourner </button>
        </a>
        <button class="button signup__submit"
                name="sign__button"
                form="signup__form"        
                type="submit"> S'inscrire </button>
    </div>

{% endblock content %}
